* {
    overflow-x: hidden;
}

.navbar {
    
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100%;
}
.bgcolor:hover,.navbar:hover .nav-link{
background: white;
color: #000000!important;
}
.bg-image{
    fill: #fff;
    
}

.navbar-img {
    height: 3rem !important;
}

#carouselExampleIndicators {
    height: 100vh;
}

#carouselExampleIndicators img {
    height: 100vh;
    object-fit: cover;
}

.card {
    cursor: pointer;
}

.card:hover>img {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 20rem;
    width: 100%;
    position: relative;
}

.text {
    position: absolute;
    display: flex;
    top: 3rem;
    overflow-y: hidden;
    justify-content: center;
   

}
.text img{
    height: 100%;
}
.text h1{
    color: #fff;
    line-height: 2 !important;
}
input{
    background: black;
    border: 1px solid white;
    color: #fff;
}
li{
    line-height: 2 !important;
}
footer{ 
    width: 100%;
    border-top:1px solid black;
    padding-top: 2rem;
}
.srcl{
    display: flex;
    overflow-x: auto;
    
}
.srcl ::-webkit-scrollbar{
    width: 0;
}
.box{
    min-width: 12rem;
    

}
.power img{
    height: 100%;
}
.india{
    display: flex;
}
.black-box{
    align-items: center;
    
}
.black-box label{
   
}
.black-box input{
    width:25rem;
    height: 2rem;
    border: 1px solid #ffffff83;

}
.black-box p{
    line-height: 65px;
}
.list ul{
    text-align: center;
}
.list ul li{
    display: inline-block;
    padding: 0 15px;
}
#last{
    text-align: center;
}
